body {
    background: #1C1C1C;
    margin: 0;
    font-family: 'Inter', sans-serif;  
}

main {
    width: 550px;
    height: 550px;
    background: #1F2937;

}

#main-heading {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
}

#main-heading > span {
    color: #4ADF86;
}

p {
    font-size: 20px;
    color:#D5D4D8;
}

#generate-btn {
    font-size: 16px;
    padding: 9px 15px;
    background: #10B981;
    color: #ffffff;
    border-radius: 6px;
    border: none;
}

hr {
    border: 1px solid #2F3E53;
}

.password-generate-el {
    background:#273549 ;
    width: 210px;
    height: 40px;
}